<div class="fondo">
  <div class="portada">
    <div class="">
      <br />

      <div class="">
        <h1>
          SOFTTBOOK
          <span
            >"Disfrutar es el leer un mundo lleno de aventura, por eso
            Disfruta"</span
          >
        </h1>
      </div>
    </div>
  </div>
  <!-- <br /><br /> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <img
              src="https://s1.1zoom.me/big0/259/402532-sepik.jpg"
              alt="Random first slide"
              width="100%"
              height="500px"
            />
            <div class="carousel-caption">
              <h3>"El que ama la lectura, tiene todo a su alcance.""</h3>
              <p>William Godwin</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img
              src="https://s1.1zoom.me/big3/780/348522-admin.jpg"
              alt="Random third slide"
              width="100%"
              height="500px"
            />
            <div class="carousel-caption">
              <h3>"Y si dejas de pensar y solo ¿lo intentas?"</h3>
              <p>An&oacute;nimo.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="https://s1.1zoom.me/big0/259/402532-sepik.jpg" alt="Random second slide" width="100%" height="500px" />
            <div class="carousel-caption">
              <h3>Podran robarte las ideas pero no el talento</h3>
              <p>An&oacute;nimo</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img
              src="https://ep00.epimg.net/elpais/imagenes/2013/04/22/viajero_astuto/1366582767_136658_1366582767_noticia_normal.jpg"
              alt="Random fourth slide"
              width="100%"
              height="500px"
            />
            <div class="carousel-caption">
              <h3>"Cree en ti mismo y seras imparable."</h3>
              <p>Bego Romero.</p>
            </div>
          </ng-template>
        </ngb-carousel>
        <div class="col-md-2"></div>
      </div>
    </div>
    <br />
    <br />
    <h2 id="bienvenidos">Hola bienvenidos a la mejor pagina de informacion sobre libros</h2>
    <br />
    <br />
    <ol id="lista2">
      <li>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img
                class="img-book"
                src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1566845252-41bXKCN-JYL.jpg"
                alt="Paris"
                style="width:200px;height:250px"
              />
            </div>
            <div class="flip-box-back">
              <h3>Sipnosis</h3>
              <p>
                Durante el verano del '89, siete niños se enfrentan a un
                terrible monstruo que mantiene preocupado al pueblo.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img
                class="img-book"
                src="https://4.bp.blogspot.com/-4Yok7BQjQPk/WO6HA_S4PGI/AAAAAAAARJY/Mz-T45rQ4gMbPxQkKJBNE4-3S9Q3_GgtQCLcB/s1600/El%2Blado%2Boculto%2Bde%2Bla%2Bluna.jpg"
                alt="Paris"
                style="width:200px;height:250px"
              />
            </div>
            <div class="flip-box-back">
              <h3>Sipnosis</h3>
              <p>
                Una historia tan oscura como el espacio entre las estrellas.
                Extraña e irresistiblemente divertida.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img
                class="img-book"
                src="https://cloud10.todocoleccion.online/libros-segunda-mano-ciencia-ficcion-fantasia/tc/2016/12/06/15/68566069.jpg"
                alt="Paris"
                style="width:200px;height:250px"
              />
            </div>
            <div class="flip-box-back">
              <h3>Sipnosis</h3>
              <p>
                Bajo el mismo Londres, existen túneles que no constan en ningún
                mapa y puertas olvidadas durante siglos. Pero… ¿adónde llevan?
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img
                class="img-book"
                src="https://images-na.ssl-images-amazon.com/images/I/91IOV8dgSTL.jpg"
                alt="Paris"
                style="width:200px;height:250px"
              />
            </div>
            <div class="flip-box-back">
              <h2>Sipnosis</h2>
              <p>
                El gran físico británico nos ofrece la historia del universo,
                desde las primeras teorías del mundo griego y de la Edad Media
                hasta el Big Bang y los agujeros negros
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img
                class="img-book"
                src="https://cronicas.ugmex.edu.mx/images/2015/10/18/imagen01.png"
                alt="Paris"
                style="width:200px;height:250px"
              />
            </div>
            <div class="flip-box-back">
              <h2>Sipnosis</h2>
              <p>
                Anastasia Steele recibe el encargo de entrevistar al exitoso y
                joven empresario Christian Grey
              </p>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <br />
    <br />
  </div>
</div>
