<footer class="container-fluid py-5"> 
    <div class="row">
        <div class="col-12 col-md">
            <img src="../../../assets/img/Logo.png" width="auto" height="80" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="d-block mb-2">
        <!-- </img> -->
            <small class="d-block mb-3 text-muted">© 2019-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Caracteristicas</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/details">Detalles</a></li>
                <li><a class="text-muted" href="/regbook">Alta de Libros</a></li>
                <li><a class="text-muted" href="/">Landing Page</a></li>
                <li><a class="text-muted" href="/home">Pagina Principal</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Donaciones</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Apoyanos</a></li>
                <li><a class="text-muted" href="#">Unete a nuestro equipo</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contactanos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Localizacion</a></li>
                <li><a class="text-muted" href="#">Telefonos</a></li>
                <li><a class="text-muted" href="#">Correo</a></li>
                <li><a class="text-muted" href="#">Acerca de nosotros</a></li>
            </ul>
        </div>
        <!-- <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div> -->
    </div>
</footer>