<header style="height: 663px;">
  <div class="container">
    <div
      class="col-md-6 col-sm-12 wow  fadeInUp animated"
      style="visibility: visible; animation-name: fadeInUp;"
    >
      <div class="intro-book" style="top: 21px;">
        <img
          src="https://4.bp.blogspot.com/-4Yok7BQjQPk/WO6HA_S4PGI/AAAAAAAARJY/Mz-T45rQ4gMbPxQkKJBNE4-3S9Q3_GgtQCLcB/s1600/El%2Blado%2Boculto%2Bde%2Bla%2Bluna.jpg"
          alt=""
        />
      </div>
    </div>
    <div
      class="col-md-6 intro-text hidden-sm hidden-xs wow  fadeInUp animated"
      style="visibility: visible; animation-name: fadeInUp; top: 140px;"
    >
      <h2 class="heading">El Lado Oculto de la Luna</h2>
      <h4 class="subheading">Descripcion del Libro</h4>
      <p>
        Una historia tan oscura como el espacio entre las estrellas. Extraña e
        irresistiblemente divertida.
      </p>
      <a href="#book" class="scrollto btn btn-white">Acerca del Libro</a>
      <a href="#" class="btn btn-green">
        Comprar <span class="price">$11.99</span></a
      >
    </div>
  </div>
</header>
<section id="reviews" class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h2 class="heading">Recomendaciones</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="owl-reviews owl-carousel owl-theme"
        style="opacity: 1; display: block;"
      >
        <div class="owl-wrapper-outer">
          <div
            class="owl-wrapper"
            style="width: 4560px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"
          >
            <div class="owl-item" style="width: 380px;">
              <div class="item">
                <div
                  class="review text-center wow  fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <h4 class="subheading reviewer-name">Tuneles</h4>
                  <p class="small">
                    Bajo el mismo Londres, existen túneles que no constan en
                    ningún mapa y puertas olvidadas durante siglos. Pero…
                    ¿adónde llevan?
                  </p>
                  <p>
                    <a class="btn btn-secondary" href="#" role="button"
                      >Ver Detalles »</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 380px;">
              <div class="item">
                <div
                  class="review text-center wow  fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <h4 class="subheading reviewer-name">La teoria del Todo</h4>
                  <p class="small">
                    El gran físico británico nos ofrece la historia del
                    universo, desde las primeras teorías del mundo griego y de
                    la Edad Media hasta el Big Bang y los agujeros negros
                  </p>
                  <p>
                    <a class="btn btn-secondary" href="#" role="button"
                      >Ver Detalles »</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 380px;">
              <div class="item">
                <div
                  class="review text-center wow  fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <h4 class="subheading reviewer-name">Martin Doe</h4>
                  <p class="small">
                    Chock full of great photos of lettering with a little info
                    about the artist and projects shown.
                  </p>
                  <p>
                    <a class="btn btn-secondary" href="#" role="button"
                      >Ver Detalles »</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-right">
      <h2 class="heading">Reviews</h2>
    </div>
    <div class="row">
      <div
        class="owl-reviews owl-carousel owl-theme"
        style="opacity: 1; display: block;"
      >
        <div class="owl-wrapper-outer">
          <div
            class="owl-wrapper"
            style="width: 4560px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"
          >
            <div class="owl-item" style="width: 380px;">
              <div class="item">
                <div
                  class="review text-center wow  fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <img
                    src="../../../assets/img/2.png"
                    class="reviewer-pic"
                    alt=""
                  />
                  <h4 class="subheading reviewer-name">Alfred Rudolf</h4>
                  <h6 class="subheading muted reviewer-city">Dallas, Texas</h6>
                  <div class="rating">
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate"></span>
                  </div>
                  <p class="small">
                    Me encanto este libro, lo recomiendo totalmente.
                  </p>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 380px;">
              <div class="item">
                <div
                  class="review text-center wow  fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <img
                    src="../../../assets/img/2.png"
                    class="reviewer-pic"
                    alt=""
                  />
                  <h4 class="subheading reviewer-name">Emily Carey</h4>
                  <h6 class="subheading muted reviewer-city">Tampa, Florida</h6>
                  <div class="rating">
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                  </div>
                  <p class="small">
                    Love it.
                  </p>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 380px;">
              <div class="item">
                <div
                  class="review text-center wow  fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp;"
                >
                  <img
                    src="../../../assets/img/2.png"
                    class="reviewer-pic"
                    alt=""
                  />
                  <h4 class="subheading reviewer-name">Martin Doe</h4>
                  <h6 class="subheading muted reviewer-city">
                    Los Angeles, California
                  </h6>
                  <div class="rating">
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate active"></span>
                    <span class="rate"></span>
                  </div>
                  <p class="small">
                    First comment.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
