<div class="container-fluid">
  <form class="form-signin col-5">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesion</h1>
      <p>
        Inicia Sesion
      </p>
    </div>

    <div class="form-label-group">
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Correo"
        required=""
        autofocus=""
      />
      <label for="inputEmail">Correo</label>
    </div>

    <div class="form-label-group">
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Contraseña"
        required=""
      />
      <label for="inputPassword">Contraseña</label>
    </div>

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Recordarme </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Iniciar Sesion
    </button>
  </form>
  <!-- </div> -->
  <div class="separator"></div>
  <!-- <div class="container"> -->
  <form class="form-signin col-5">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
      <p>
        Registrate en nuestra Pagina
      </p>
    </div>

    <div class="form-label-group">
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Correo"
        required=""
        autofocus=""
      />
      <label for="inputEmail">Correo</label>
    </div>

    <div class="form-label-group">
      <input
        type="text"
        id="inputUsername"
        class="form-control"
        placeholder="Nombre de Usuario"
        required=""
      />
      <label for="inputPassword">Nombre de Usuario</label>
    </div>
    <div class="form-label-group">
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Contraseña"
        required=""
        autofocus=""
      />
      <label for="inputEmail">Contraseña</label>
    </div>

    <div class="form-label-group">
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Repetir Contraseña"
        required=""
      />
      <label for="inputPassword">Repetir Contraseña</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign Up
    </button>
  </form>
</div>
